#!/usr/bin/env bash
#shellcheck disable=SC2034
# Add these to the .env
# https://www.gottleber.net/environment-setup-hardhat-on-rinkeby/

# get from alchemy.com
ALCHEMY_API_KEY=" "
# get from Rinkeby pool
RINKEBY_PRIVATE_KEY=" "
